# Python & Ambientes Virtuais
*.pyc
__pycache__/
*.pyo
venv/
env/

# Firebase & Logs
.firebase/
firebase-debug.log
ui-debug.log

# Credenciais e Arquivos Sensíveis
*.json
!firebase.json
!skills-lock.json
credentials/
.env

# Banco de dados local
*.sqlite3

# Arquivos estáticos coletados
staticfiles/*credentials*.json
*.json
*credentials*.json
*.json
!firebase.json
!skills-lock.json

# Credenciais do Firebase
firebase-credentials.json
*.jsonfirebase-credentials.json
